{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Online CV - Professional HTML CSS Resume Website Template</title>





<meta name="robots" content="noindex, nofollow">
  </head>
<body id="page-top">
<div id="main-wrapper">
<!-- Page Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

<div class="columns-block">
<div class="left-col-block blocks">
    <header class="header">
        <div class="content text-center">
            <h1>hello , {{name}}</h1>

            <p class="lead">backend developer </p>
            <ul class="social-icon">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="profile-img"></div>
    </header>
    <!-- .header-->
</div>


<div class="right-col-block blocks">
<section class="intro section-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>more about me </h2>
                </div>
            </div>
            <div class="col-md-12">
                <p>
                    hello dear readers <br>

                    im amirali goudarzy and i've 
                    started coding at the age of 14 and chose django dev and cs as my path to follow<br>
                    im passionate about building and fixing things in a way to work like never before <br>
                    as a 17 year old developer , im confident in my skills 

                </p>
                    i strongly hope that one day i would have my own startup in order to achieve what ive always wanted
                <p>
                    
                </p>
            </div>
        </div>
    </div>
</section>


<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Expertise</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>python </h3>

                    <p>
                            I have been coding in Python for around three years, building projects and strengthening my programming fundamentals.
                             I have worked with backend development, Flask, Django, databases, APIs, and Git/GitHub, while continuously 
                             improving my problem-solving skills.


                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>problem solving  </h3>

                    <p>
                     I enjoy continuously learning and improving my skills  and like exploring new technologies, building projects,
                      solving problems, and challenging myself to learn something new with every project.

                    </p>
                </div>
            </div>
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>open to learning </h3>

                    <p>
                        have an urge to never stop learning 
                        whetever in code or general curiosity
                    </p>
                </div>
            </div>


        </div>
        <!-- .row -->
    </div>
    <!--.container-fluid-->
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">flask framework </span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                                 aria-valuemax="100" style="width:76%"><span class="progress-percent"> 76%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">python development </span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 90%"><span class="progress-percent"> 90%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">django framework</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 75%;"><span class="progress-percent"> 75%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">advanced english </span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 80%;"><span class="progress-percent"> 80%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->
                    <div class="progress-item">
                        <span class="progress-title">Project Management and team work</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 70%;"><span class="progress-percent"> 70%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->

                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>2024 </small>
                    <h3>teached basic python</h3>

                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>2025</small>
                    <h3>worked on a project for learning english</h3>
                    <h4>(coding part)</h4>

                    
                </div>

                <!-- .experience-item -->
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-experience -->

<section class="section-wrapper section-education">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Education</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">

                <!-- .experience-item -->
                <div class="content-item">
                    <small>cs major </small>
                    <h3>still in high school</h3>
                    <h4>12th grade</h4>
                    

                    
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>2025_2026</small>
                    <h3>had finished 3 courses </h3>
                    


                </div>
                <!-- .experience-item -->
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->
 <div class="section-title"><h2>languages</h2></div>
         <div class="row">
            <div class="col-md-12">

                <!-- .experience-item -->
                <div class="content-item">
                    <small>English </small>
                    <h3>i started to learn english at the age of 10 and im confident in my speaking  </h3>
                    <h4>most of my content is produced in english as well</h4>
                    

                    
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>persian </small>
                    <h3>this is my native language and i find it astonishing and poetic </h3>
                    


                </div>
                <!-- .experience-item -->
            </div>
        </div>
</section>
<!-- .section-education -->

<section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>projects</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <h3>CodeKnight</h3>

                    <p>CodeKnight is a gamified developer productivity platform built with Python and Flask. It features quests, XP, levels, coins, 
                    streaks, and GitHub activity tracking. I implemented GitHub OAuth and API integration, user dashboards, quest management, 
                    and progress tracking using SQLAlchemy and SQLite. The project strengthened my backend development, REST API, database,
                     authentication, and Git/GitHub skills.</p>
                     <p><a href="https://github.com/mell-1101/CodeKnight">CodeKnight github </p></a>
                </div>
                <div class="content-item">
                    <h3>my first django website</h3>

                    <p>this is my first django site that i use to practice the skills i need for web developing 
                        this still will be updated
                    </p>
                    <p><a href="">{{github}} </p></a>
                    

                </div>

            </div>
        </div>


    </div>
</section>

<section class="section-contact section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <address>
                    <strong>Address</strong><br>
                    Iran
                </address>
                <address>
                    <strong>my github is  </strong><br>
                    <a href="https://github.com/mell-1101">github</a>
                </address>

                <address>
                    <strong>Mobile Number</strong><br>
                    ***********
                </address>
                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:#">{{email}}</a>
                </address>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="feedback-form">
                    <h2>Get in touch</h2>

                    <form id="contactForm" action="sendemail.php" method="POST">
                        <div class="form-group">
                            <label for="InputName">Name</label>
                            <input type="text" name="name" required="" class="form-control" id="InputName"
                                   placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email address</label>
                            <input type="email" name="email" required="" class="form-control" id="InputEmail"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="InputSubject">Subject</label>
                            <input type="text" name="subject" class="form-control" id="InputSubject"
                                   placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message</label>
                            <textarea class="form-control" rows="4" required="" name="message" id="message-text"
                                      placeholder="Write message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- .feedback-form -->


            </div>
        </div>
    </div>
    <!--.container-fluid-->
</section>
<!--.section-contact-->

<footer class="footer">
    <div class="copyright-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="copytext">Online CV &copy; 2026. Built by <a
                            href="https://uicookies.com">uiCookies</a></div>
                </div>
            </div>
            <!--.row-->
        </div>
        <!-- .container-fluid -->
    </div>
    <!-- .copyright-section -->
</footer>
<!-- .footer -->
</div>
<!-- .right-col-block -->
</div>
<!-- .columns-block -->
</div>
<!-- #main-wrapper -->

<!-- Bootstrap 5 bundle (Popper included) -->
<script src="{%static 'resume/js/vendor/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'resume/js/scripts.js'%}"></script>
</body>
</html>
{% endblock %}